* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* ================= Navbar ================= */

.my-navbar {
  position: sticky !important;
  top: 0px;
  z-index: 10;
}
nav {
  background: transparent !important;
  z-index: 10;
}
nav > a {
  color: #fff !important;
  font-size: 20px;
  text-transform: uppercase;
}

ul li a {
  transition: 0.5s;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff !important;
}
ul li a:hover {
  color: #ffeb13 !important;
  font-weight: bold;
  transition: 0.5s;
}
ul li.active a {
  color: #fff !important;
  border-bottom: 2px solid #ffeb13 !important;
  font-weight: bold;
  transition: 0.5s;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("./assets/toggle-menu-icon-png-8-Transparent-Images.png") !important;
}
/* ================= Cover Image ================= */
.cover {
  background-image: linear-gradient(to top, black, black);
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: -70px;
  top: 0%;
}
.cover-img img {
  width: 100%;
  height: 700px;
  opacity: 0.2;
}
.cover .cover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
  border-left: 5px solid #ddddde;
  padding-left: 25px;
}
.cover-content h5 {
  color: #ddddde;
  font-family: auto;
}
.cover-content h1 {
  color: #fff;
  font-family: fantasy;
}
.cover-content button {
  color: #ddddde;
  font-family: auto;
  border: 3px solid #ffeb13;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.cover-content button:hover {
  color: #fff;
  font-weight: bold;
}

/* ================= About ================= */
.about-me{
  width: 90%;
  margin: 35px auto;
}
.about-me .heading {
  text-transform: uppercase ;
  margin-bottom: 40px ;
}
.heading h1,.heading span{
  font-weight: bold;
  font-family: auto;
  font-size: 38px;
}
.heading span{
  border-bottom: 2px solid #ffeb13;
}
.heading p{
  color: #ddddde;
}
/*  */
.about-me .about-content{
  display: flex;
  justify-content: space-between;
}
.about-img{
  width: 35%;
}
.about-img img{
  width: 100%;
}
.about-right{
  width: 60%;
}
.about-right h4, .about-right h4 span{
text-transform: uppercase;
font-weight: bold;
font-family: auto;
}
.about-right h4 span{
  color: #ffeb13;
}
.about-right p{
  margin: 20px 0px;
}
.about-right ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.about-right ul li{
  width: 43%;
  display: flex;
  color: #ababab;
  border-bottom: 2px solid #ababab;
  padding: 10px 0px;
}
.about-right ul li span{
  font-weight: bold;
  color: #000;
  margin-right: 4px;
}
/* ////////////////////////////////// */
@media only screen and (min-width: 592px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
